#header{
    background:url(../img/sadiesink.jpg) repeat scroll center center / cover;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-content{
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.header-content h1{
    text-transform: uppercase;
}
